
\.vs/numerical-algorithms/xs/sqlite3/storage\.ide

\.vs/numerical-algorithms/xs/sqlite3/storage\.ide-shm

\.vs/numerical-algorithms/xs/sqlite3/storage\.ide-wal

\.vs/numerical-algorithms/xs/UserPrefs\.xml

bin/Debug/

obj/Debug/

*.userprefs
